<ion-header>
  <ion-toolbar>
    <ion-title>Etudiants</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar
      animated="true"
      placeholder="Rechercher"
      show-clear-button="always"
      [debounce]="250"
      (ionChange)="searchStudents($event)"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="results.length; else nostudents" [inset]="true">
    <ion-item-sliding *ngFor="let student of results">
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>

        <ion-label slot="start">
          <h2>{{student.firstName}} {{student.lastName}}</h2>
          <p>{{student.email}}</p>
        </ion-label>

        <!-- Present badge -->
        <ion-badge slot="end" color="success" *ngIf="student.present; else absent">Présent</ion-badge>

        <!-- Absent badge -->
        <ng-template #absent>
          <ion-badge slot="end" color="light">
            <ion-text color="medium">Absent</ion-text>
          </ion-badge>
        </ng-template>
      </ion-item>

      <ion-item-options side="end">
        <!-- Update student status -->
        <ion-item-option color="{{student.present ? 'light' : 'success'}}" (click)="updateStudentStatus(student, !student.present)" expandable>
          <ion-icon name="{{student.present ? 'eye-off' : 'eye'}}"></ion-icon>
        </ion-item-option>

        <!-- Delete student -->
        <ion-item-option color="danger" (click)="deleteStudent(student)" expandable>
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- No students found -->
  <ng-template #nostudents>
    <ion-text color="medium">
      Aucun étudiant trouvé.
    </ion-text>
  </ng-template>
</ion-content>