<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Notes</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="createNote()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Notes</ion-title>
    </ion-toolbar>

    <ion-toolbar>
      <ion-searchbar
        placeholder="Rechercher"
        show-clear-button="always"
        [debounce]="250"
        (ionChange)="searchNotes($event)"
      ></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item-sliding *ngFor="let note of results">
      <ion-item-options side="start">
        <ion-item-option color="primary" (click)="toggleFavorite(note)" expandable>
          <ion-icon name="{{note.isFavorite ? 'star' : 'star-outline'}}" style="font-size: 20px"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item routerLink="/note/{{note.id}}">
        <ion-label>
          {{note.title}}
          <p>dernière màj à {{formatDate(note.updatedAt)}}</p>
        </ion-label>

        <ion-icon
          slot="end"
          name="star"
          color="primary"
          size="small"
          *ngIf="note.isFavorite"
        ></ion-icon>
      </ion-item>

      <ion-item-options side="end">
        <!-- Share the note -->
        <ion-item-option color="tertiary" (click)="share(note)">
          <ion-icon name="share-social" style="font-size: 24px"></ion-icon>
        </ion-item-option>

        <!-- Delete the note -->
        <ion-item-option color="danger" (click)="deleteNote(note)" expandable>
          <ion-icon name="trash" style="font-size: 24px"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>