<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Accueil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-img src="https://i.f1g.fr/media/eidos/805x453_crop/2020/06/17/XVM27052676-b072-11ea-8f38-691e76f530b2.jpg"></ion-img>

    <ion-card-header>
      <ion-card-subtitle>Gestion de la présence des étudiants</ion-card-subtitle>
      <ion-card-title>Attendance</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Attendance est une application de gestion de la présence des étudiants dans une classe.
    </ion-card-content>
  </ion-card>
</ion-content>