<ion-header>
  <ion-toolbar>
    <ion-title>Fiche étudiant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Détails étudiant</ion-card-subtitle>
      <ion-card-title>{{student.firstName}} {{student.lastName}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Prénom: {{student.firstName}}<br>
      Nom: {{student.lastName}}<br>
      E-mail: {{student.email}}
    </ion-card-content>
  </ion-card>
</ion-content>