<div class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home" text="Notes"></ion-back-button>
      </ion-buttons>

      <ion-title>{{note.title}} </ion-title>

      <ion-buttons slot="end">
        <ion-button (click)="showDetails()">
          <ion-icon name="ellipsis-horizontal-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <editor [init]="editorConfig" (onInit)="init($event)" (onChange)="save($event)"></editor>
  </ion-content>
</div>