<div class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home" text="Notes"></ion-back-button>
      </ion-buttons>

      <ion-title>@todo: note.title</ion-title>

      <ion-buttons slot="end">
        <ion-button id="show-note-details">
          <ion-icon name="ellipsis-horizontal-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <editor [init]="editorConfig" (onInit)="init($event)" (onSelectionChange)="save($event)"></editor>

    <ion-modal #details trigger="show-note-details" [canDismiss]="canDismiss" [presentingElement]="presentingElement">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Détails</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="details.dismiss()">Fermer</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>

        <ion-content>
          Dernière mise à jour : {{updatedAt}}
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>
</div>